
#txt{
	
	  -fx-background-repeat: stretch; 
	   -fx-background-size: cover; 
	  -fx-background-position: center center;
	  
}

#ID1{
	-fx-background-color:green;
	-fx-text-fill:white ;
	-fx-font-size: 14.0px;
	-fx-font-weight: bold;
	
}
.ID11{
	-fx-background-color:green;
	-fx-text-fill:white ;
	-fx-font-size: 14.0px;
	-fx-font-weight: bold;
	
}


#ID2{
	-fx-background-color:white;
	-fx-text-fill:green ;
	-fx-font-size: 14.0px;
	-fx-font-weight: bold;
	
}

.AppBar{
	/*-fx-background-color:rgb(137,255,111);*/
}

#IDCH{
	-fx-background-color:green;
	-fx-text-fill:white ;
	-fx-font-size: 14.0px;
	-fx-font-weight: bold;
}

#AID{
	-fx-background-color:white;
	-fx-text-fill:green ;
	-fx-font-size: 14.0px;
	-fx-font-weight: bold;
}

#FA{
	-fx-font-size: 18.0px;
}
#FB{
	-fx-font-size: 18.0px;
}
#AID{
	-fx-font-size: 18.0px;
}


#EMAIL{
	-fx-text-fill:white ;
}

#CHECK1{
	-fx-text-fill:green;
}

#EDIT{
	-fx-text-fill:green ;
}

#DB2{
	-fx-background-color:white;
	-fx-text-fill:green ;
	-fx-font-size: 18.0px;
	-fx-font-weight: bold;
}

#DB1{
	-fx-background-color:green;
	-fx-text-fill:white ;
	-fx-font-size: 18.0px;
	-fx-font-weight: bold;
}

#FAMO{
	-fx-background-color:white;
	-fx-text-fill:green ;
	-fx-font-size: 18.0px;
}

#FBC{
	-fx-background-color:green;
	-fx-text-fill:white ;
	-fx-font-size: 18.0px;
	-fx-font-weight: bold;
	
}

#SVE{
	-fx-background-color:green;
	-fx-text-fill:white ;
	-fx-font-size: 18.0px;
	-fx-font-weight: bold;
	
}

#PDTC  {
    -fx-prompt-text-fill: black;
    -fx-font-size: 17.0px;
}

#DPQ {
    -fx-prompt-text-fill: black;
    -fx-font-size: 17.0px;
}

#VO{
	-fx-text-fill:red ;
}

#VA{
	-fx-text-fill:red ;
}

#Tdate{
	-fx-prompt-text-fill: black;
    -fx-font-size: 17.0px;
}

.date-picker-popup {
   -fx-background-color:white;
   -fx-base: white;
    -fx-accent:#008080 ;
    -fx-default-button: #008080;
     -fx-focus-color: red;
    -fx-faint-focus-color: red;
   
    
    
    
    
}


.datepicker {
    -fx-font-size: 52.0px;
    -fx-max-height:899.0;
	 -fx-min-height:899.0;
	 -fx-pref-height:899.0;
}

/* .date-picker-popup > .calendar-grid  {
	 -fx-max-height:900;
	 -fx-min-height:900;
	 -fx-pref-height:900;
	 
}*/

.date-picker-popup > * > .date-cell {
    -fx-max-height:60.0;
	 -fx-min-height:60.0;
	 -fx-pref-height:60.0;
}

#ADD{
	-fx-background-color:white;
	
}

#SUB{
	-fx-background-color:white;
	
}

#TSR{
	-fx-border-color:green;
	
}

#TSRA{
	-fx-border-color:green;
	-fx-background-color:green;
}

#SE{
	-fx-text-fill:green ;
}

/* .Image{
	-fx-background-radius:50;
	
}*/

#TEXT{
	 -fx-background-color: #B22234;
}

.charm-list-view  {
    /*  Headers: Old Glory Red */
    -fx-background-color: #B22234;
}

